---
import Layout from "@/layouts/BlogPost.astro";
const tags = ["about us", "maveran garden"];
const description = `
    О нашей компании - Maveran Garden
`;
---

<Layout
  tags={tags}
  icon="beach"
  title="О нашей компании"
  description={description}
  pubDate={new Date("May 17 2025")}
  heroImage="/src/assets/harshal.jpg"
>
  <p>
    Мы сотрудничаем с проверенными и надёжными фермерами и крестьянами нашего
    края. Благодаря уникальному климату, большому количеству солнечных дней и
    плодородной земле наша продукция отличается высоким качеством, насыщенным
    вкусом и ярким ароматом. Мы хотим, чтобы Вы тоже насладились этим вкусом и
    ароматом наших арбузов и дыни, сухофруктов, овощей и зелени. При подготовке
    продуктов на продажу мы сопровождаем каждый продукт от момента сбора урожая
    на поле до упаковки. Мы со всей душой стараемся преподнести нашу продукцию
    до Вас в высоком качестве. На каждый вид продукции выдаются фитосанитарные
    сертификаты, подтверждающие безопасность нашей продукции и ее соответствие
    международным требованиям. Наша цель — быть не просто поставщиком, а
    надёжным партнёром для каждого клиента.
  </p>
</Layout>
