---
import Layout from "@/layouts/BlogPost.astro";
const tags = ["why our services", "Почему мы?", "maveran garden"];
const description = `
    Почему мы?`;
---

<Layout
  tags={tags}
  icon="2"
  title="Почему мы?"
  description={description}
  pubDate={new Date("May 17 2025")}
  heroImage="/src/assets/vegetables-hero.jpg"
>
  <h1>Почему мы?</h1>

  <ul>
    <li>
      Заботимся, чтобы всё, что мы экспортируем, было свежим и качественным.
    </li>
    <li>Мы предоставляем все требуемые от наших партнеров документы.</li>
    <li>
      Мы проводим лабораторные исследования на содержание пестицидов и тяжелых
      металлов для каждого вида продукции.
    </li>
    <li>Для нас важно, чтобы сотрудничество было удобным и надежным.</li>
    <li>Мы прислушиваемся и учитываем пожелания каждого клиента.</li>
  </ul>
</Layout>
