---
const today = new Date();
import { Icon } from "astro-icon/components";
---

<footer
  class="flex flex-col items-center container mx-auto p-10 text-center gap-10 pb-40"
>
  &copy; {today.getFullYear()} Maveran Garden. All rights reserved.
  <div class="flex items-center gap-6 text-5xl">
    <a
      href="https://t.me/maveran_garden"
      target="_blank"
      class="border-1 p-1 border-black rounded-full shadow-card hover:shadow-hover transition"
    >
      <Icon name="telegram" class="" />
    </a>

    <a
      href="https://www.instagram.com/maveran_garden_"
      target="_blank"
      class="bg-slate-100 border-1 p-1 border-black rounded-full shadow-card hover:shadow-hover transition"
    >
      <Icon name="instagram-with-circle" />
    </a>
  </div>
</footer>
