---
import Link from "./HeaderLink.astro";
import "../styles/hamburgers.css";

import { Image } from "astro:assets";
import Logo from "../assets/logoza-logo.png";
---

<header
  class="flex flex-wrap bg-gray-50 border-border-gray-200 py-4 shadow-sm sticky top-0 z-50 border"
>
  <nav class="flex container w-full px-4 md:px-16 items-center justify-between">
    <a href="/" class="flex-shrink-0 block">
      <Image
        src={Logo}
        alt="Logo"
        class="h-16 w-auto will-change-transform hover:scale-110 lg:hidden xl:block transition-transform duration-300"
      />
    </a>

    <ul class="text-nowrap hidden md:flex flex-wrap">
      <li><Link href="/" text="Главная" style="primary" /></li>
      <li>
        <Link href="/about-us" text="О нашей компании" style="secondary" />
      </li>
      <li>
        <Link href="/why-us" text="Почему мы?" style="secondary" />
      </li>
      <li>
        <Link href="/blog" text="Наш ассортимент продукции" style="tertiary" />
      </li>
      <li>
        <Link href="/eksport" text="Экспорт" style="tertiary" />
      </li>
      <li>
        <Link href="/kontakti" text="Контакты" style="tertiary" />
      </li>
    </ul>

    <div class="md:hidden z-40">
      <button class="hamburger hamburger--elastic" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>

      <div
        id="navigation"
        class="fixed top-0 left-0 w-full h-full bg-white transform -translate-y-full transition-transform duration-300 ease-in-out"
      >
        <!-- Close button -->
        <button
          id="menu-close"
          class="absolute top-8 right-8 text-5xl font-bold z-50"
          aria-label="Close menu"
        >
          &times;
        </button>
        <ul
          class="flex flex-col items-center justify-center h-full gap-8 text-nowrap"
        >
          <li><Link href="/" text="Главная" style="primary" /></li>
          <li>
            <Link href="/about-us" text="О нашей компании" style="secondary" />
          </li>
          <li>
            <Link href="/why-us" text="Почему мы?" style="secondary" />
          </li>
          <li>
            <Link
              href="/blog"
              text="Наш ассортимент продукции"
              style="tertiary"
            />
          </li>
          <li>
            <Link href="/eksport" text="Экспорт" style="tertiary" />
          </li>
          <li>
            <Link href="/kontakti" text="Контакты" style="tertiary" />
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<script is:inline>
  function init() {
    const hamburger = document.querySelector(".hamburger");
    const menu = document.getElementById("navigation");
    const closeBtn = document.getElementById("menu-close");

    const toggleMenu = () => {
      hamburger.classList.toggle("is-active");
      menu.classList.toggle("-translate-y-full");
      menu.classList.toggle("translate-y-0");
    };

    if (hamburger && menu) {
      hamburger.addEventListener("click", toggleMenu);
    }

    if (closeBtn && menu) {
      closeBtn.addEventListener("click", toggleMenu);
    }
  }
  init();
  document.addEventListener("astro:after-swap", init);
</script>
