---
import CinematicMarquee from "./CinematicMarquee.astro";
---

<section class="bg-[#fff] pt-20 pb-12 relative">
  <div class="px-6 mb-4 flex flex-col items-center">
    <svg
      class="vine-background hidden sm:block"
      viewBox="0 0 1200 300"
      preserveAspectRatio="none"
    >
      <path class="vine-path" d="M 0 150 Q 200 80, 400 140 T 800 160 T 1200 120"
      ></path>
    </svg>
    <h2 class="text-[clamp(1.75rem,4vw,2.5rem)] font-bold mb-4 relative z-10">
      Добро пожаловать в <span id="maveran" class="text-black"
        >MAVERAN GARDEN</span
      >
    </h2>
    <p
      class="text-pblack inline-block w-full max-w-xl sm:w-3/4 px-4 py-2 leading-relaxed text-[clamp(1.2rem,2vw,1.5rem)] text-balance"
    >
      Наша компания с 2020года поставляет <span class="a px-1 py-1"
        >свежие и качественные овощи, бахчевые культуры, сухофрукты
      </span>из Узбекистана в страны СНГ, Европы и Ближнего Востока.
    </p>
  </div>
  <CinematicMarquee />
</section>

<style>
  .a {
    view-timeline-name: --subject-reveal;
    animation-timeline: --subject-reveal;
    background-position: left center;
    background-image: linear-gradient(rgb(135, 246, 187), rgb(18, 255, 128));
    background-repeat: no-repeat;
    background-size: 0% 100%;

    animation: highlight linear forwards;
    animation-timeline: scroll();
    animation-range: cover 15% cover 35%;
  }

  @keyframes highlight {
    from {
      background-size: 0% 100%;
    }

    to {
      background-size: 100% 100%;
    }
  }

  .vine-background {
    position: absolute;
    top: -10%;
    left: 0;
    width: 100%;
    pointer-events: none;
    opacity: 0.5;
    z-index: 1;
  }

  .vine-path {
    stroke: #22c55e;
    stroke-width: 3;
    fill: none;
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;

    animation: grow linear forwards;
    animation-timeline: scroll();
    animation-range: cover 20% cover 60%;
  }

  @keyframes grow {
    to {
      stroke-dashoffset: 0;
    }
  }
</style>
